/* 
---------
!RESET
---------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
---------
!DEBUG
---------
*/
/* 
-------
?HEADER-DEBUG
-------
 */
.debug .header-top {
  background-color: #add8e6;
  height: 5.3125rem;
}
.debug .logo,
.debug .link,
.debug .login {
  background-color: #daa520;
  height: 3.125rem;
  border: 2px black dotted;
}
.debug .header-bottom {
  height: 32.5rem;
  background-color: #00008b;
}
.debug .pink {
  background-color: #ee82ee;
  height: 25.9375rem;
  border: 2px black dotted;
}
/* 
-------
?MAIN-DEBUG
-------
*/
.debug section {
  height: 39.6875rem;
}
.debug .big-section {
  height: 65rem;
}
.debug .grey {
  background-color: #d3d3d3;
}
.debug .blue {
  background-color: #1e90ff;
  height: 32.5rem;
  border: 2px black dotted;
}
.debug .light-pink {
  background-color: #ffc0cb;
  height: 32.5rem;
  border: 2px black dotted;
}
.debug .green {
  background-color: #228b22;
  height: 58.75rem;
  border: 2px black dotted;
}

/*
------------
!TYPOGRAPHY
------------
*/

/*
----------
!PALETTE
----------
*/

/*
---------
!COMMON
---------
*/
.container {
  margin: 0 auto;
  width: 78.125rem;
  display: flex;
}
.reverse {
  flex-direction: row-reverse;
}
/*
---------
!HEADER
---------
*/
header .header-top {
  display: flex;
  align-items: center;
}
.header-top .logo,
.header-top .login {
  flex-grow: 1;
}
.header-top .link {
  flex-grow: 3;
}
header .header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom .pink {
  width: 59.0625rem;
}
/*
-------
!MAIN
-------
*/
main section {
  display: flex;
  align-items: center;
}
main .blue {
  flex-grow: 1.5;
}
main .light-pink {
  flex-grow: 1;
}
main .green {
  width: 100%;
}
/*
---------
!FOOTER 
---------
*/
