/* 
---------
!RESET
---------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  ---------
  !DEBUG
  ---------
*/
.debug .header-top {
  background-color: #add8e6;
  height: 5.3125rem;
}
.debug .logo,
.debug .link,
.debug .login {
  background-color: #daa520;
  height: 3.125rem;
  border: 1px black dotted;
}
/*
  ------------
  !TYPOGRAPHY
  ------------
  */

/*
  ----------
  !PALETTE
  ----------
*/

/*
  ---------
  !COMMON
  ---------
*/
.container {
  margin: 0 auto;
  width: 78.125rem;
  display: flex;
}

/*
  ---------
  !HEADER
  ---------
*/
header .header-top {
  display: flex;
  align-items: center;
}
.header-top .logo,
.header-top .login {
  flex-grow: 1;
}
.header-top .link {
  flex-grow: 3;
}
/*
  -------
  !MAIN
  -------
*/

/*
  ---------
  !FOOTER 
  ---------
*/
